*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
    font-family: "Open sans" ,sans-serif;
    font-optical-sizing: auto;
}
header{
    /* background-color: bisque; */
    padding-top: 50px;
     /* justify-content: space-between;
    align-items: center; */
    background: url("../images/developer.png") , url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left ,  bottom right;
}
nav{
     width: 71%; 
    max-width:1140px ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
}
.orenge{
    color: #FD6E0A;
}
nav a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
  
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius:5px;
    padding: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    /* display: flex;
    justify-content: space-between; */
    margin-top: 5px;
    width: 200px;
    text-align: center;  
}

nav .menu {
  list-style: none;
  display: flex;
  gap: 51px; /* space between items */
  align-items: center;
}
#banner{
    /* border: solid red; */
    margin: 47px 38px  0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF8F3;
}
#banner .banner-content  h2{
font-size: 45px;
font-weight: 600;
color: #474747;
margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;

}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}
#about , #resume{
    padding-top: 130px;
    
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding:136px 157px ;
}
.section-heading{ 
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}

.section-heading h2{
    font-size: 35px;
    margin: 30px;



}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
 
}
#about .about-container .about-info{
display: flex;
justify-content: space-around;



}
.about-info .info-card{

}
#skills{
    padding-top: 130px;
}
.skills-container{
    width: 1140px;
    max-width: 71%;
    margin: 0 auto;
}
#skills .skills-container .skill-box{
    display: flex;
   gap: 24px;
}
#skills .skills-container .skill-box .skil-card{
    padding: 30px;
    /* border: 1px solid red; */
    max-width: 267px;
    box-shadow:0 6px 50px 0 #00000042;

font-size: 20px;
}
#skills .skills-container .skill-box .skil-card img{
    max-width: 44px;
    margin-bottom:30px ;
}
.skil-card p{
     font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
}
  #resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
}